$background_color: #1C1B22;
$blue:#00DDFF;
$lightblue:#80EBFF;
$deleteback:#BE185D;
$lightdeleteback:#EC4899;
$blackText: #18141A;
$secondary:#2B2A33;
$primary:#fff;

$high:#EF4444;
$low:#10B981;
$median:#F59E0B